 /* navbar */
 @font-face { 
 font-family:"honey"; src: url("../assets/fonts/Honey\ Beezy.ttf"); 
 }

 body {
    margin: 0;
    padding: 0;
 }
   
header {
    background-color: rgb(225, 149, 8);
    font-family: "honey";
}

header li {
    font-size: 1rem;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform:uppercase ;
}

.sticky {
    position: sticky;
    top: 0;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
 .container {
    justify-content: center;
 }
    
 
 /* carrusel */

.carousel-inner {

    max-height: 30rem;
    background-size: contain;
}              
 /* imagenes index */

 div section img { 
    width: 33%; 
    height: 350px;
    display: inline-flex;
    }


/* imagen nosotros */

.p-nosotros {
    margin: 5%;
    padding: 10px;
    font-family: "honey";
    background-color: blanchedalmond;
    justify-content: center;
}
.mapa {
    max-width: 100%;
    display:inline-flex ;
    justify-content: space-around;
}

 /* footer */
footer { 
    width:100% ;
    height:auto ;
    margin: 0;
    padding: 10px ;
    background-color: #264653; 
    text-align: center; 
    } 
    
 .botoncontacto { 
    
    padding: 10px; 
    margin: 30px; 
    text-decoration: none; 
    color: black; 
    border: 1px solid black; 
    background-color:rgb(225, 149, 8); 
    border-bottom: 40px; 
    font-family: "honey"; 
    display: inline ; 
    width: 40px; 
    height: 40px; 
    } 
    
.logos-footer { 
     width:50px ; 
    height:50px ; 
    } 


  /* productos */
  .foto-productos {
    width: 350px; 
    height: 350px;
    display: inline-flex;

  }

/* servicios */
.container-servicios {
    margin: 10px ;
    padding: auto;
    justify-content: center;

}
.container-servicios div img {
    width: 350px ;
    height: 350px;
    justify-content: space-between;

}

.container-servicios aside p {
    width: 20px;
    height: auto;
    display: inline;
    font-size: "honey";
    background-color: bisque;
}

  /* REGISTRARSE */
















